{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}
    <title>Dashboard</title>
{% endblock %}

{% block main %}

    {% if messages %}
        {% for message in messages %}
        <p class="{{ message.tags }} show django-message">{{ message }}</p>
        {% endfor %}
    {% endif %}
    <h1 class=""> Image to Favicon</h1>
    <form novalidate  method="POST" enctype="multipart/form-data" action="{% url 'dashboard:upload' %}">
        {% csrf_token %}
        <input type="file" id="image" name="upload" accept=".jpg,.png,.svg,.jpeg,.tiff" />
        <p class="error-size error"></p>
      <p class="error-none error">No Image Uploaded</p>
      <button type="submit">Generate</button>
    </form>

{% endblock %}

{% block scripts %}
    <script src="{% static 'dashboard/dashboard.js' %}"></script>
{% endblock %}